@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-departure: 'DepartureMono', monospace;
    --font-neuemontreal: 'NeueMontreal', sans-serif;
    --font-roobert: 'Roobert', sans-serif;
    background-image: url('/images/background.png');
    background-repeat: repeat;
}

/* DepartureMono */
@font-face {
  font-family: 'DepartureMono';
  src: url('../public/fonts/DepartureMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* NeueMontreal */
@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../public/fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* Roobert */
@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertHeavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertHeavyItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('../public/fonts/RoobertSemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
